name: CI

on:
  push:
    branches:
      - master
      - release

jobs:
  build:
    name: deploy
    runs-on: ubuntu-latest
    env:
      APP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.K8S_CREDENTIALS }}
      IMAGE_TAG: ${GITHUB_REF##*/}-latest
    steps:
      - uses: actions/checkout@v1
      - name: Override image tag for prod environment
        if: github.ref == 'refs/heads/release'
        run: |
          echo ::set-env name=IMAGE_TAG::${GITHUB_REF##*/}-${GITHUB_SHA::8}
      - name: Build API component
        run: |
          docker build -t docker.pkg.github.com/equinor/radix-example-arm-template/api:$IMAGE_TAG ./todoapi/
      - name: Push the image to GPR
        run: |
          echo ${{ secrets.PRIVATE_TOKEN }} | docker login docker.pkg.github.com -u JoakimHagen --password-stdin
          docker push docker.pkg.github.com/equinor/radix-example-arm-template/api:$IMAGE_TAG
      - name: Prepare for committing new tag to radix config on master
        uses: actions/checkout@v2-beta
        with:
          ref: master
      - name: Modify radixconfig tag for production on master branch
        if: github.ref == 'refs/heads/release'
        run: |
          # Install pre-requisite
          python -m pip install --user ruamel.yaml
          python hack/modifyTag.py api ${GITHUB_REF##*/} $IMAGE_TAG

          git config --global user.name 'ingeknudsen'
          git config --global user.email 'ingeknudsen@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.PRIVATE_TOKEN }}@github.com/${{ github.repository }}
          git commit -am $IMAGE_TAG
          git push origin HEAD:master
      - uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Get environment from branch
        id: getEnvironment
        uses: equinor/radix-github-actions@master
        with:
          args: >
            get-config branch-environment
            -b ${GITHUB_REF##*/}
      - name: Deploy API on Radix
        uses: equinor/radix-github-actions@master
        with:
          args: >
            trigger
            deploy
            --context development
            -e ${{ steps.getEnvironment.outputs.result }}
            -f
      - name: Get instrumentation key and connection string
        id: getSecrets
        run: |
          RESOURCE_GROUP=db-api-radix-${{ steps.getEnvironment.outputs.result }}
          INSTRUMENTATIONKEY=$(az group deployment show -g ${RESOURCE_GROUP} -n azuredeploy --query properties.outputs.appInsightInstrumentationKey.value)
          CONNECTION_STRING=$(az group deployment show -g ${RESOURCE_GROUP} -n azuredeploy --query properties.outputs.storageConnectionString.value)

          echo ::set-output name=instrumentationKey::$(echo ${INSTRUMENTATIONKEY})
          echo ::set-output name=connectionString::$(echo ${CONNECTION_STRING})

          echo ::add-mask::${INSTRUMENTATIONKEY}
          echo ::add-mask::${CONNECTION_STRING}
      - name: Set instrumentation key as secret
        uses: equinor/radix-github-actions@master
        with:
          args: >
            set environment-secret
            --context development
            -e ${{ steps.getEnvironment.outputs.result }}
            --component api
            -s APPINSIGHTS_INSTRUMENTATIONKEY
            -v '${{ steps.getSecrets.outputs.instrumentationKey }}'
      - name: Set connection string as secret
        uses: equinor/radix-github-actions@master
        with:
          args: >
            set environment-secret
            --context development
            -e ${{ steps.getEnvironment.outputs.result }}
            --component api
            -s AZURE_STORAGE_CONNECTION_STRING
            -v '${{ steps.getSecrets.outputs.connectionString }}'
